<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>角色管理</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">RBAC</a></li>
                    <li class="breadcrumb-item active">角色管理</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">角色列表</h3>
                    </div>
                    <div class="card-body">
                        <!-- search district -->
                        <div class="row">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="form-inline">
                                        <span>角色名称：</span>
                                        <!-- mb margin-bottom mr margin right -->
                                        <!-- <input class="form-control mr-2 mb-2" type="text"/> -->
                                        <input class="form-control mr-2" type="text"/>
                                        <button class="form-control mr-2 btn btn-primary">搜索</button>
                                        <button class="form-control mr-2 btn btn-primary">新建</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- body -->
                        <div class="row">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>角色名称</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="role in roles">
                                    <td></td>
                                    <td>{{role.name}}</td>
                                    <td>
                                        <div class="justify-content-end">
                                            <button class="btn btn-sm btn-primary">删除</button>
                                            <button class="btn btn-sm btn-primary">修改</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- footer -->
                        <div class="">
                            <paginator page="rolePage" pageClickCallback="pageClickCallback"></paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>